---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [{ depth: 2, slug: 'how-to-reach', text: 'How to reach me' }]
---

<PageLayout title='Contact' {headings} info='/en/contact'>
  <p>
    Feel free to reach out about the blog, AI, agent systems, or general learning exchange.
  </p>

  <h2 id='how-to-reach'>How to reach me</h2>
  <ul>
    <li>
      GitHub:
      <a href='https://github.com/YinFengWindy' target='_blank' rel='noreferrer'>
        https://github.com/YinFengWindy
      </a>
    </li>
    <li>
      Email:
      <a href='mailto:3174898512@qq.com'>3174898512@qq.com</a>
    </li>
    <li>
      Bilibili:
      <a href='https://space.bilibili.com/359809751?spm_id_from=333.1365.0.0' target='_blank' rel='noreferrer'>
        https://space.bilibili.com/359809751
      </a>
    </li>
  </ul>
</PageLayout>
