---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [{ depth: 2, slug: 'status', text: 'Status' }]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <h2 id='status'>Status</h2>
  <p>
    This page is being reorganized.
  </p>
  <p>
    Template-author project content has been taken offline. A dedicated projects page for YinFeng can be added later.
  </p>
</PageLayout>
