---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'how-to-reach', text: 'How to reach me' }
]
---

<PageLayout title='Contact' {headings} info='/contact'>
  <p>
    欢迎联系我。关于博客、AI、Agent、学习交流都可以。
  </p>

  <h2 id='how-to-reach'>联系方式</h2>
  <ul>
    <li>
      GitHub：
      <a href='https://github.com/YinFengWindy' target='_blank' rel='noreferrer'>
        https://github.com/YinFengWindy
      </a>
    </li>
    <li>
      邮箱：
      <a href='mailto:3174898512@qq.com'>3174898512@qq.com</a>
    </li>
    <li>
      Bilibili：
      <a href='https://space.bilibili.com/359809751?spm_id_from=333.1365.0.0' target='_blank' rel='noreferrer'>
        https://space.bilibili.com/359809751
      </a>
    </li>
  </ul>
</PageLayout>
